/* Swiper 컨테이너의 위치와 여백 조정 */
#player-pitcher-swiper .swiper-container {
  position: relative;
  height: 100%; /* Swiper의 높이를 100%로 설정 */
}

#player-pitcher-swiper .swiper-button-next {
  display: none;
}

#player-pitcher-swiper .swiper-button-prev {
  display: none;
}

/* 페이지네이션 컨테이너 */
#player-pitcher-swiper .swiper-pagination {
  position: absolute;
  left: 260px; /* 페이지네이션을 오른쪽에 배치 */
  top: 50%; /* 페이지네이션을 세로 중앙에 배치 */
  transform: translateY(-50%); /* 세로 중앙 정렬을 위한 변환 */
  width: 8px; /* 페이지네이션의 너비 설정 */
  height: 100%; /* 페이지네이션의 높이를 부모 요소에 맞춤 */
  background: rgba(0, 0, 0, 0.3); /* 페이지네이션 배경 색상 */
  border-radius: 4px; /* 페이지네이션의 둥근 모서리 */
}

/* 프로그래스 바의 기본 스타일 */
.swiper-pagination-progressbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; /* 페이지네이션 컨테이너의 너비에 맞춤 */
  height: 100%; /* 페이지네이션 컨테이너의 높이에 맞춤 */
  background: transparent; /* 배경을 투명하게 설정 */
}

/* 프로그래스 바 채우기 */
.swiper-pagination-progressbar-fill {
  height: 100%; /* 프로그래스 바의 높이 설정 */
  background: green; /* 프로그래스 바 채우기 색상 설정 */
  border-radius: 4px; /* 프로그래스 바의 둥근 모서리 설정 */
}
