@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KT";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.transition-color {
  transition: color 0.3s ease, background-clip 0.3s ease;
}
@keyframes sparkle {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
li {
  position: relative;
  width: 33.333%;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: "KT";
  font-weight: bold;
  transition: 0.2s ease color;
}

li a {
  display: block;
  position: relative;
  color: #949494;
  transition: color 0.2s ease;
}
li a::before,
li a::after {
  content: "";
  position: absolute;
  transform: scale(0);
  transition: transform 0.2s ease;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

li a::before {
  top: -8px;
  width: 10px;
  height: 10px;
}

li a::after {
  width: 8px;
  height: 8px;
}

li a:nth-child(1)::before {
  background-color: red;
}

li a:nth-child(1)::after {
  background-color: white;
}
li a:nth-child(2)::before {
  background-color: rgb(255 175 54);
}

li a:nth-child(2)::after {
  background-color: rgb(255 253 207);
}

li a:nth-child(3)::before {
  background-color: rgb(222 255 143);
}

li a:nth-child(3)::after {
  background-color: rgb(117 255 229);
}

li a:nth-child(4)::before {
  background-color: rgb(165 245 255);
}

li a:nth-child(4)::after {
  background-color: rgb(210 226 255);
}
li a:nth-child(5)::before {
  background-color: rgb(221 188 255);
}

li a:nth-child(5)::after {
  background-color: rgb(255 232 238);
}

li a:nth-child(6)::before {
  background-color: rgb(253 248 255);
}

li a:nth-child(6)::after {
  background-color: rgb(255 0 178);
}

li a:hover {
  color: #fff;
}

li a:hover::before,
li a:hover::after {
  transform: scale(1);
  animation: sparkle 2s infinite;
}

@media (max-width: 1279px) {
  .lnb_header {
    transform: translateY(0);
    transition: none;
  }
}

.gnb_header,
.lnb_header {
  transition: transform 0.3s ease;
}

.slide-up {
  transform: translateY(-49%);
}

.slide-down {
  transform: translateY(0);
}
