@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KT";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.transition-color {
  transition: color 0.3s ease, background-clip 0.3s ease;
}
@keyframes sparkle {
  ㅎ 0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
li {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #949494;
  text-decoration: none;
  font-family: "KT";
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}
li ::before,
li ::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

li ::before {
  top: 0;
  left: 125px;
  width: 10px;
  height: 10px;
}

li ::after {
  top: 5px;
  left: 135px;
  width: 8px;
  height: 8px;
}

li :nth-child(1)::before {
  background-color: red;
}

li :nth-child(1)::after {
  background-color: white;
}

li :hover {
  color: #fff;
}

li :hover::before,
li :hover::after {
  transform: scale(1);
  animation: sparkle 2s infinite;
}
